* { font-family: "Cascadia Mono";   }

MainWindow {
    background-color: #313335;
}

QToolBar {
    background-color: #2b2b2b;
}

QPushButton {
    color: white;
    background-color: #313335;

    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: white;

    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    margin: 2px;
    margin-left: 8px;
}

QPushButton:hover {
    color: black;
    background-color: #cc7832;
}